<header>
    <div class="fotoLog">
        <div class="container-texto2">
        </div>
    </div>
</header>

<div class="txt1">
    <h1>Registro de Usuario</h1>
</div>

<div class="container">
    <form [formGroup]="form" (submit)="onSubmit(form)" autocomplete="off">
        <input type="hidden">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-5 mb-3">
                    <label>Nombre de Usuario</label>
                    <input class="form-control" type="text" formControlName="usu_ali">
                    <span class="form-text text-danger" *ngIf="ValidForm('usu_ali')">
                        Dato necesario
                    </span>
                </div>
                <div class="col-md-5 mb-3">
                    <label>Nombre completo</label>
                    <input class="form-control" type="text" formControlName="usu_nom_com">
                    <span class="form-text text-danger" *ngIf="ValidForm('usu_nom_com')">
                        Dato necesario
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <div class="form-group1">
                        <label>Numero de Telefono</label>
                        <input class="form-control" type="text" formControlName="usu_cel">
                        <span class="form-text text-danger" *ngIf="ValidForm('usu_cel')">
                            Dato necesario
                        </span>
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label>Correo Electrónico</label>
                    <input class="form-control" type="text" formControlName="usu_cor">
                    <span class="form-text text-danger" *ngIf="ValidForm('usu_cor')">
                        Dato necesario
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label>Correo Electrónico</label>
                    <input class="form-control" type="email" formControlName="usu_cor2">
                    <span class="form-text text-danger" *ngIf="ValidForm('usu_cor')">
                        Dato necesario
                    </span>
                </div>


                <div class="col-md-5 mb-3">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" formControlName="usu_con">
                    <span class="form-text text-danger" *ngIf="ValidForm('usu_con')">
                        Dato necesario
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <div class="form-group1">
                        <label>Contraseña</label>
                        <input class="form-control" type="password" formControlName="usu_con2">
                        <span class="form-text text-danger" *ngIf="ValidForm('usu_con')">
                            Dato necesario
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControleName="termsLabel">
                <label class="form-check-label" for="invalidCheck">
                    Acepto los términos y condiciones.
                </label>
                <div class="invalid-feedback">
                    Debe aceptar los terminos y condiciones para poder continuar.
                </div>
            </div>
        </div>
        <div class="form-group">
            <button  class="btn btn-primary float-end" type="submit">Enviar Registro</button>
        </div>
    </form>
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Compañia</a></li>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Carrera</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Grupo 1.A Desarrollador FullStack - Entre Ríos</h3>
                    <p>Equipo integrado por 4 estudiantes de programación FullStack.</p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/Juanpii.Caffa/"><i class="fab fa-facebook"></i></a><a href="https://twitter.com/JuanPyAkd"><i
                            class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a><a
                        href="https://www.instagram.com/juanpiicaffa/"><i class="fab fa-instagram"></i></a></div>
            </div>
            <p class="copyright">Grupo 1.A © 2020 - Entre Ríos</p>
        </div>
    </footer>
</div>