<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e4f90968-a130-4e59-a5b0-dcf9b449eca3/resourceGroups/ProyectoFinal/providers/Microsoft.Web/sites/testg1cfs</ResourceId>
    <ResourceGroup>ProyectoFinal</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testg1cfs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testg1cfs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testg1cfs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testg1cfs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="mis_viajesEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:proyectofinalfs.database.windows.net,1433;Initial Catalog=IndexTF3_db1;User ID=Juantus@proyectofinalfs;Password=Martina2" Name="Data Source=tcp:proyectofinalfs.database.windows.net,1433;Initial Catalog=IndexTF3_db1;User Id=Juantus@proyectofinalfs;Password=Martina2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IndexTF3.Models.mis_viajesEntities, IndexTF3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="mis_viajesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:proyectofinalfs.database.windows.net,1433;Initial Catalog=IndexTF3_db1;User Id=Juantus@proyectofinalfs;Password=Martina2"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>