<body>
    <div class="container-us">
        <div class="row">
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src={{user_img}} id="imagen" alt="profile picture" style="width:35%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <p>
                        <b>
                            Nombre de Usuario: {{user_name}}
                        </b>
                    </p>
                    <p>
                        <b>
                            Email: {{user_mail}}
                        </b>
                    </p>
                    <p>
                        <b>
                            Nombre Completo: {{user_nom_com}}
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>