<form [formGroup] = "form" (submit) = "onSubmit" autocomplete = "off">
    <input type="hidden">
    <div class="form-group">
        <label >Nombre de Usuario</label>
        <input class="form-control" 
            formControlName = "usu_">
        <span class="form-text text-danger">
        
            Dato requerido            
        </span>
    </div>

    <div class="form-group">
        <label >Nombre Completo</label>
        <input class="form-control" 
            formControlName = "usu_nom">
        <span class="form-text text-danger">
        
            Dato requerido            
        </span>
    </div>

    <div class="form-group">
        <label >Clave</label>
        <input class="form-control" 
            formControlName = "usu_nom">
        <span class="form-text text-danger">        
            Debe tener 6 caracteres            
        </span>
    </div>
    
</form>
