<div class="fotoLog">
    <form class="login" [formGroup]="form" (submit)="onSubmit(form)">
        <div class="form-group">
            <label for="exampleInputEmail1">Ingrese su Nombre de Usuario o Email.</label>
            <input class="form-control" type="text" formControlName="usu_cor">
            <span class="form-text text-danger" *ngIf="ValidForm('usu_cor')">
                Dato necesario
            </span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input class="form-control" type="password" formControlName="usu_con">
            <span class="form-text text-danger" *ngIf="ValidForm('usu_con')">
                Dato necesario
            </span>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <button id="btn1" type="submit" class="btn btn-primary">Entrar</button>
    </form>
    <div class="container-texto2">
    </div>
</div>

<script>
    document.getElementById("btn1").addEventListener("click", crearCookie);

    function crearCookie(e) {
        document.cookie = "nombre = " + e.value.usu_cor;
        var miCookie = document.cookie;
        alert(miCookie);
    }
</script>




<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Compañia</a></li>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Carrera</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Grupo 1.A Desarrollador FullStack - Entre Ríos</h3>
                    <p>Equipo integrado por 4 estudiantes de programación FullStack.</p>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/Juanpii.Caffa/"><i
                            class="fab fa-facebook"></i></a><a href="https://twitter.com/JuanPyAkd"><i
                            class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a><a
                        href="https://www.instagram.com/juanpiicaffa/"><i class="fab fa-instagram"></i></a></div>
            </div>
            <p class="copyright">Grupo 1.A © 2020 - Entre Ríos</p>
        </div>
    </footer>
</div>