<header>
    <nav class="navbar">
        <div class="contenedorU2">
            <a href="#">Inicio</a>
            <a href="#news">Noticias</a>
            <a href="#contact">Contacto</a>
            <a href="#">Login</a>
            <a href="#">Registro</a>
        </div>
    </nav>
    <div class="fotoLog">
        <div class="container-texto2">
        </div>
    </div>
</header>

<div>
    <form class="login">
        <div class="form-group">
            <label for="exampleInputEmail1">Ingrese su Nombre de Usuario o Email.</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Compañia</a></li>
                        <li><a href="#">Equipo</a></li>
                        <li><a href="#">Carrera</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Grupo 1.A Desarrollador FullStack - Entre Ríos</h3>
                    <p>Equipo integrado por 4 estudiantes de programación FullStack.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i
                            class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a><a
                        href="#"><i class="fab fa-instagram"></i></a></div>
            </div>
            <p class="copyright">Grupo 1.A © 2020 - Entre Ríos</p>
        </div>
    </footer>