<body>
    <div class="conteiner-body">
        <header>
            <nav class="navbar">
                <div class="contenedorU">
                    <a href="#home">Inicio</a>
                    <a href="#news">Noticias</a>
                    <a href="#contact">Contacto</a>
                    <a href="#">Login</a>
                    <a href="#">Registro</a>
                </div>
            </nav>
            <div class="logotipo">
                <div class="container-texto">
                    <h2 class="titulo2">MisViajes</h2>
                    <p class="pie">
                        Bienvenido a la página de turísmo de Entre Ríos
                    </p>
                </div>
            </div>
        </header>

        <div class="go-top-container">
            <div class="got-top-button">
                <i class="fas fa-chevron-up"></i>

            </div>
        </div>

        <div class="navigator">
            <div class="topnav">
                <button class="button1"><span>Museo </span></button>
                <button class="button2"><span>Corredores Turísticos</span></button>
                <button class="button1"><span>Clima </span></button>
            </div>
        </div>
        <div class="texto">
            <p class="texto1">Entre Ríos es la escapada ideal de fin de
                semana, donde vas a poder disfrutar del verde, del río, de la naturaleza y de la historia.
                Con hermosos e intrigantes <a href="#" style ="color :#ff7171" title="corredores-turisticos">corredores turísticos</a> donde
                podras recorrer
                increibles playas y termas como así también, la rica historia no solo de la provincia si no del
                país.</p>
            <strong> Guía de Entre Ríos</strong>
        </div>
        <div class="container1">
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure>
                        <img src="assets/logo1.jpg" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h3 class="tit">INFORMACIÓN GENERAL</h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure>
                        <img src="assets/Comollego.jpg" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h3 class="tit">COMO LLEGAR</h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure>
                        <img src="assets/Transporte.jpg" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h3 class="tit">TRANSPORTE</h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure>
                        <img src="assets/dondecomer.jpg" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h3 class="tit">DONDE COMER</h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="contenedor_tarjeta">
                <a href="#">
                    <figure>
                        <img src="assets/mapa.jpg" class="frontal" alt="">
                        <figcaption class="trasera">
                            <h3 class="tit">MAPA</h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="contenedor-texto2">
            <p class="texto2">
                Parque Nacional - El Palmar
            </p>
        </div>
        <div class="turismo-txt">
            <h2>¿Por qué visitar Entre Ríos?</h2>
            <p class="turismo-des">El turismo de la Provincia de Entre Ríos se encuentra trazado por las enormes
                bondades de sus recursos naturales,
                la belleza natural de sus ríos, playas, aguas termales y su tierra. La tranquilidad y los paisajes
                provinciales se combinan con el cálido servicio de los entrerrianos.
                Capital Nacional de los<a href="#" style ="color :#ff7171" title="Circutos-Termales"> Circuitos Termales</a> y emblemática en el 
                despliegue de sus Carnavales,
                la provincia de Entre Ríos cuenta con innumerables actividades y productos turísticos.</p>
        </div>
        <div>
            <p class="turismo-des">
                Al visitar los <a href="https://gualeguaychu.gov.ar/tema/Museo%20del%20carnaval/" style ="color :#ff7171" title="Circutos-Carnavales">carnavales entrerrianos</a>, podrá encontrar deslumbrantes colores.
                El carnaval en la provincia de Entre Ríos es el reflejo del brillo de los trajes de las mejores pasistas
                del país y donde se combina el espectáculo,
                la diversión y la belleza con una distinguida recepción de los habitantes de la provincia.
            </p>
        </div>
        <div>
            <p class="turismo-des">
                Nuestra propuesta es que puedas conocer Entre Ríos a través de los sentidos, 
                con la suavidad de sus playas, con lo cálido de sus termas y con los intensos sabores de sus quesos y embutidos. 
                Y tengas un recorrido por la rica historia tanto nacional, provincia donde se formaron 4 presidentes de la nación y provincial, 
                recorriendo la historia de Don Pancho Ramírez y la Delfina, hasta recorrer 
                los pasillos del imponente<a href="#" style ="color :#ff7171" title="Circutos-Palacio"> Palacio San José</a>, donde vivió el Gral. Justo José de Urquiza, primer presidente de la Nación.
            </p>
        </div>
        <div class="margen"></div>

        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Servicios</h3>
                            <ul>
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Hosting</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Acerca de</h3>
                            <ul>
                                <li><a href="#">Compañia</a></li>
                                <li><a href="#">Equipo</a></li>
                                <li><a href="#">Carrera</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Grupo 1.A Desarrollador FullStack - Entre Ríos</h3>
                            <p>Equipo integrado por 4 estudiantes de programación FullStack.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i
                                    class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a><a
                                href="#"><i class="fab fa-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Grupo 1.A © 2020 - Entre Ríos</p>
                </div>
            </footer>
        </div>
    </div>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-50px";
            }
        }

        window.onscroll = function(){
            if(document.documentElement.scrollTop > 100){
                document.querySelector('.go-top-container')
                .classList.add('show');
            }else{
                document.querySelector('.go-top-container')
                .classList.remove('show');
            }
        }
        document.querySelector('.go-top-container')
        addEventListener('click', () =>{
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        })


    </script>
</body>
