<div id="content">
    <section class="ty-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="font-weigth-bold mb-0">Bienvenido...</h1>
                    <p class="lead text-muted">En esta sección podras realizar consultas y modificaciones con respecto a
                        la
                        administración de la página como del foro.</p>
                </div>
            </div>
        </div>
    </section>
</div>